*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #040404;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/image1.png);
    background-size: cover;
    background-position: center;

}

.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: rgb(68, 210, 227);
    color: black;
    box-shadow: 0 0 10px rgb(68, 210, 227);
}
.header-text{
    margin: 15%;
    font-size: 25px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #e36d29;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
    margin-top: 20px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5rem white, 0 0 1rem white, 0 0 1.5rem white;
    font-weight: bold;
}

#about{
    padding: 60px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 80px;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 80%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 65%;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff004;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: aqua;
    font-size: 14px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#Services{
    padding: 30px 0;
    
}

.Services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;

}
.Services-list div{
   background: #212020;
   padding: 40px;
   font-size: 13px;
   font-weight: 300;
   border-radius: 10px;
   transition: backgroun 0.5s, transform 0.5s;
}

.Services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.Services-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 15px;
}

.Services-list div a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.Services-list div:hover{
    background: #24c9c9;
    transform: translateY(-10px);
}